<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143513153715-s7b8c4efbt66vcck6ka64b1vjcgtf1v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143513153715-s7b8c4efbt66vcck6ka64b1vjcgtf1v2</string>
	<key>API_KEY</key>
	<string>AIzaSyBWg3RfVKyQC9YVZKMKN7XdTYQSY7zKM1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>143513153715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rehab4wrestling</string>
	<key>PROJECT_ID</key>
	<string>rehab4wrestling</string>
	<key>STORAGE_BUCKET</key>
	<string>rehab4wrestling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143513153715:ios:d7239dada10c745d5980c6</string>
</dict>
</plist>